@model PlaceBet
@{
    ViewData["Title"] = "Play";
}

<div class="container">
    <h2>Place Bets</h2>

    @if (Model.ErrorMessage != null)
    {
        <p>@Model.ErrorMessage</p>
    }
    <p class="small">PS. What ever Number rolled it means that the come bet is on that number </p>
    <p>Dice Roll: @Model.RolledNumber</p>
    <p>Bet: @Model.Bet</p>


    <div class="row">
        <form asp-action="Play">
            <input asp-for="@Model.Bet" name="bet" hidden />
            <input asp-for="@Model.RolledNumber" name="rolledNumber" hidden />
            <div class="form-group">
                <label for="userAnswer">Answer:</label>
                <input type="number" id="userAnswer" name="userAnswer" min="0" required autofocus />
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">SubmitAnswer</button>
            </div>
        </form>
    </div>
</div>

